---
---
@import "normalize";
@import "dtb_highlight";

body {
	font-family: "Open Sans", sans-serif;
	max-width: 900px;
	color: #333;

	line-height: 1.55;
	font-size: 1.2rem;

	--accent-color:#05caa5;

	--icon-padding: 4.75rem;
	--horizontal-padding: 2.75rem;
	padding: 1rem var(--horizontal-padding) 1rem calc(var(--horizontal-padding) + var(--icon-padding));

	$segments: 8;
	$hue_dist: 360 / ($segments + 1);

	@for $i from 1 through $segments {
		$hue: ($i - 1) * $hue_dist;
		$border-hue: ($hue - $hue_dist / 2) % 360;

		--rb-bg#{$i}: hsl(#{$hue}, 100%, 94%);
		--rb-br#{$i}: hsl(#{$border-hue}, 91%, 88%);
		/*--rb-tx#{$i}: hsl(#{$hue}, 100%, 78%);*/
	}

	background-color: #fff9f5;
}

@media screen and (max-width: 900px) {
	body {
		padding-left: 0;
		padding-right: 0;

		--content-padding: .3rem;

		header {
			padding-left: var(--content-padding);
		}

		nav > ul > li {
			margin-left: 0;
			margin-right: 0;
			padding-left: var(--content-padding);
			padding-right: var(--icon-padding);
		}

		.see-more-link {
			padding-left: var(--content-padding);
		}

		.post-icon {
			right: 0;
			margin-left: 0;
			margin-right: calc(-1 * var(--icon-padding));
			text-align:left;

			svg {
				margin-left: 1rem;
			}
		}

		--right-flush-padding: 1.2rem;

		footer {
			margin-left: 0;
			margin-right: 0;
			--horizontal-padding: var(--content-padding);
			padding-right: var(--right-flush-padding);
		}

		&.layout-post >  article {
			padding-left: var(--content-padding);
			padding-right: var(--right-flush-padding);
		}
	}

}

@media screen and (max-width: 600px) {
	body {
		.post-icon {
			display: none;
		}

		nav > ul > li {
			padding-right: var(--content-padding);
		}
	}
}

pre.highlight {
	padding: .75rem 1rem;
	overflow: auto;
}

pre, code, kbd, samp {
	font-family: "Fira Mono", monospace;
	font-size: 1rem;
}

body.page-archive,
body.page-index {
	font-family: "Fira Mono", monospace;
}

p {
	margin-bottom: 2rem;
}

.pubdate {
	text-align: right;
	display: block;
	text-transform: capitalize;
	font-style: italic;
}

@for $i from 0 through 6 {
	h#{$i}, .h#{$i} {
		font-weight: 500;
		color: var(--accent-color);
		font-family: "fira mono", monospace;
	}
}

h2 {
	font-size: 1.6rem;
}

article h1 {
	position: relative;
}


.layout-post article h1,
.page-archive h1.mark,
.page-index h1.mark {
	font-size: 2.6rem;
	margin: 7rem 0 8rem;
	font-family: "Fira Mono", monospace;
	line-height: 1.15;

}

h1.mark {
	--text-color: var(--accent-color);
	font-family: "Fira Mono", monospace;
	a {
		text-decoration:none;
		color: var(--text-color);

		&:visited {
			color: var(--text-color);
		}

		&:hover {
			text-decoration: underline;
		}
	}
}

.layout-post {
	h1.mark {
		font-size: 1.2rem;
		font-weight: normal;
		--text-color: #aaa;
	}

}

// forgive me father for i have sinned
nav {
	line-height: 1.15;
	font-size: 1rem;

	> ul {
		padding: 0;
		list-style-type: none;


		> li {
			--vertical-spacing: .9rem;
			padding: 0 2rem 0 var(--icon-padding);
			margin: 0 0 1.6rem calc(-1 * var(--icon-padding));
			background: #E0F5FF;
			border-top: .5rem solid #FFBABA;

			a {
				color: var(--accent-color);
				&:visited {
					color: inherit;
				}
			}

			.post-data {
				padding: var(--vertical-spacing) 0 0;
				position: relative;

				> h2 {
					margin:0 0 var(--vertical-spacing);
				}

				> p {
					margin: 0;
					padding: 0 0 var(--vertical-spacing);
				}
			}

			@for $i from 1 through 6 {
				&:nth-child(6n+#{$i}) {
					background-color: var(--rb-bg#{$i});
					border-color: var(--rb-br#{$i});
				}
			}
		}

	}
}
.post-icon {
	width: var(--icon-padding);
	margin-left: calc(-1 * var(--icon-padding));

	position: absolute;
	top:50%;
	transform: translateY(-50%);
	text-align: center;
	line-height: 0;

	svg {
		width: 2.8rem;
		height: 2.8rem;
	}
}

footer, .footer {
	font-size: 1rem;
	line-height: 1.4;
	color: #606060;
	background-color: #fff;
	--horizontal-padding: 2rem;
	padding: .6rem var(--horizontal-padding);
	--horizontal-margin: 9rem;
	margin: var(--horizontal-margin) 0 1rem calc(-1 * var(--horizontal-padding));
	font-family: "Fira Mono", monospace;

	p:last-child {
		margin-bottom: 1rem;
	}


	a {
		font-weight: bold;
		color: inherit;
		&:visited {
			color: #999;
		}
	}
	.background {
		background-color: #ffe2ca;
		height: var(--horizontal-margin) ;
		margin: 0 calc(-1 * var(--horizontal-padding));
	}
}
