---
---
@import "normalize";

body {
	background-color: #ffe2ca;
	font-family: "Open Sans", sans-serif;
	padding: 1rem 7.5rem;
	max-width: 900px;
	color: #333;

	--accent-color:#04e7bd;

	--icon-padding: 4.75rem;

	//rb stands for rainbow. I abbreviated it bc it takes up
	//so many dang bytes otherwise
	--rb-purple: #FFC5F7;
	--rb-red: #ffc3c3;
	--rb-orange: #ffd0a3;
	--rb-yellow: #FFF39F;
	--rb-green: #DBFFD5;
	--rb-blue: #E0F5FF;

	--rb-br-red: #FFBABA;
	--rb-br-orange: #FFC479;
	--rb-br-yellow: #FFF39F;
	--rb-br-green: #DBFFD5;
	--rb-br-blue: #AAEAFF;
	--rb-br-purple: #FFC5F7;

	--rb-br1: var(--rb-br-blue);
	--rb-br2: var(--rb-br-purple);
	--rb-br3: var(--rb-br-red);
	--rb-br4: var(--rb-br-orange);
	--rb-br5: var(--rb-br-yellow);
	--rb-br6: var(--rb-br-green);


	--rb-bg1: var(--rb-red);
	--rb-bg2: var(--rb-orange);
	--rb-bg3: var(--rb-yellow);
	--rb-bg4: var(--rb-green);
	--rb-bg5: var(--rb-blue);
	--rb-bg6: var(--rb-purple);
}

body.page-index {
	font-family: "Fira Mono", monospace;
}

@for $i from 0 through 6 {
	h#{$i}, .h#{$i} {
		font-weight: 500;
		color: var(--accent-color);
		font-family: "fira mono", monospace;
	}
}

h2 {
	font-size: 1.6rem;
}

article p {
	line-height: 1.55;
	font-size: 1.3rem;
	color: #333;
}

article h1 {
	position: relative;
}


.layout-post article h1,
.page-index h1.mark {
	font-size: 2.6rem;
	margin: 7rem 0 8rem;
	font-family: "Fira Mono", monospace;
}

h1.mark {
	--text-color: var(--accent-color);
	font-family: "Fira Mono", monospace;
	a {
		text-decoration:none;
		color: var(--text-color);

		&:visited {
			color: var(--text-color);
		}

		&:hover {
			text-decoration: underline;
		}
	}
}

.layout-post {
	h1.mark {
		font-size: 1.2rem;
		font-weight: normal;
		--text-color: #aaa;
	}

}

// forgive me father for i have sinned
nav {
	> ul {
		padding: 0;
		list-style-type: none;

		> li {
			--vertical-spacing: .9rem;
			padding: 0 2rem 0 var(--icon-padding);
			margin: 0 0 1.6rem calc(-1 * var(--icon-padding));
			background: #E0F5FF;
			border-top: .5rem solid #FFBABA;

			--accent-color: #05d1ac;

			a {
				color: var(--accent-color);
				&:visited {
					color: inherit;
				}
			}

			.post-data {
				padding: var(--vertical-spacing) 0 0;
				position: relative;

				> h2 {
					margin:0 0 var(--vertical-spacing);
				}

				> p {
					margin: 0;
					padding: 0 0 var(--vertical-spacing);
				}
			}

			@for $i from 1 through 6 {
				&:nth-child(6n+#{$i}) {
					background-color: var(--rb-bg#{$i});
					border-color: var(--rb-br#{$i});
				}
			}
		}

	}
}
.post-icon {
	width: var(--icon-padding);
	margin-left: calc(-1 * var(--icon-padding));

	position: absolute;
	top:50%;
	transform: translateY(-50%);
	text-align: center;
	line-height: 0;

	svg {
		width: 2.8rem;
		height: 2.8rem;
	}
}

footer {
	font-size: .9rem;
	line-height: 1.4;
	color: #606060;
	background-color: #E4FFFA;
	--horizontal-padding: 2rem;
	padding: 1.2rem var(--horizontal-padding);
	--horizontal-margin: 9rem;
	margin: var(--horizontal-margin) 0 1rem;
	font-family: "Fira Mono", monospace;

	a {
		font-weight: bold;
		color: inherit;
		&:visited {
			color: #999;
		}
	}
	.background {
		background-color: #ffe2ca;
		height: var(--horizontal-margin) ;
		margin: 0 calc(-1 * var(--horizontal-padding));
	}
}
