@import url("c and l/fonts.css");
body {
	width:960px;
	margin:50px auto;
	font-family:Garamond, times, "times new roman", serif;
	font-size:18px;
	line-height:1.2;
}
section {
	clear:left;
}

body > header > h1 {
	font-family: "ChampagneLimousinesRegular", "futura", sans-serif;
	font-size:75px;
}

	body > header > h1 .given-name,
	body > header > h1 .family-name {
		font-weight:bold;
	}

body section h1 {
	font-family: "Geneva", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "Verdana", sans-serif;
}

body > section > h1 {
	font-size: 25px;
}
	
	body > section > h1 >section > h1 {
		font-size:18px;
	}

ul.taglist li {
	float:left;
	list-style-position:inside;
	margin:0 10px 0 0;
}

ul.taglist li:before {
	content:"·";
}