---
layout: default
title: index
---
<nav>
	<ul>
		{% include post_list.html limit=6 %}

		<li class="post content-post">
			<div class="post-data">
				{% include icon.html category="site" %}
				<h2><a href="http://unicodefor.us">UnicodeForUs →</a></h2>
				<p>The open repository of fun unicode characters</p>
			</div>
		</li>


		<li class="post content-post">
			<div class="post-data">
				{% include icon.html category="art" %}
				<h2><a href="/canvas/one.html">Trees →</a></h2>
				<p>lovely fractal trees that sway in a gentle breeze</p>
			</div>
		</li>
	</ul>
	<a href="/archive.html">See more articles</a>
</nav>

