// ---------------------------------------------------------------------------
// Imports

@import "normalize.css";
@import "compass/css3";
@import "susy";

// ---------------------------------------------------------------------------
// Basic Grid

$total-columns  : 6;
$column-width   : 4em;
$gutter-width   : 1em;
$grid-padding   : $gutter-width;

$break-big: 16;

$show-grid-backgrounds  : true;

$bg_orange: #ECE7D1;

$links_blue: rgb(0, 75, 189);
$links_red: red;

$header_purple: rgb(139, 61, 255);
$glowy_purple: rgba(255,0,255,.5);

$body-margin: 0;

@mixin full-width {
	margin-left: -$body-margin;
	margin-right: -$body-margin;
}
