ul {
	padding-left:0;
	margin:0;
}
li {
	list-style-type:none;
}
a {
	color:$links_blue;
	text-decoration:none;
	&:visited {
		color:$links_blue;
	}
	&:hover {
		text-decoration:underline;
	}
}
body {
	font-family:sans-serif;
	line-height:1.5;
	background-color:$bg_orange;
	color:#333;
}

header {
	margin-bottom:1em;
	padding-top:1px;
	h1 {
		font-family:capriola, sans-serif;
		@include single-transition(text-shadow, 125ms, ease-in);
		//&:hover {
			//@include text-shadow(0px 0px 5px $glowy_purple);
		//}
		a, a:visited {
			text-decoration:none;
			color:$header_purple;
			span {
				//max-width:0;
				overflow:hidden;
				display:inline-block;
				-webkit-transition:max-width 150ms;
				padding-right:.35em;
				max-width:250px;
			}
		}
		&:hover {
			a span {
				max-width:250px;
			}
		}
	}

}

h1,h2,h3,h4,h5 {
	font-weight:normal;
	line-height:1.2;
	margin:1em 0 .3em;
}

h1 {
	font-size:2.3em;
}
h2 {
	font-size:2em;
}
h3 {
	font-size:1.2em;
}
h4, h5 {
	font-size:1.2em;
}
