@import url("Justus_Roman/stylesheet.css");

body {
	background: #FFFFE3 url('/media/tile.jpg') repeat;
	color: #454545;
}
#inner {
	width:600px;
	margin:20px auto;
	font-family: "helvetica neue", "arial", "helvetica", sans-serif;
	font-size:14px;
	line-height:1.45;
}
h1, h2, h3, h4, h5, h6 {
	color:#444;
	text-transform:lowercase;
}
h1 {
	text-align:center;
	font-size: 40px;
	font-family:"Justus Roman", serif;
	color:#692402;
	margin: .33em 0 .67em 0;
	text-shadow: 0 0 1px #B29485;
}
body#post h1 {/* we don't need ridiculously-large headers on posts*/
	font-size:25px;
}

pre, code {
	background: #FFFFED;
	border:1px solid #ECECEC;
	padding:0px .25em;
	line-height:1.6;
}
pre code {
	background: transparent;
	border:none;
	padding:0;
}

pre {/* punting on this for now */
	max-width:100%;
	line-height:1.5;
	overflow:auto;
	padding:.5em;
	font-family: "monaco", "consolas", monospace;
}
ul#posts {
	list-style:none;
	padding-left:0;
	text-transform:lowercase;
}
.pubdate {
	color:#d2d2bd;
}
.date {
	color: #555;
	display: inline-block;
	width: 100px;
	text-align: right;
	text-transform:lowercase;
}
.date::after {
	content: " » ";
	color: black;
	font-style: italic;
}
p#allposts:before {
	content:"» ";
	color:black;
	font-style:italic;
}
footer {
	border-top: 1px solid #CCC;
	padding: 20px 0;
	margin-top:1em;
}
footer ul {
	list-style: none;
	padding-left: 0;
	margin: 0;
}

footer ul li:before {
	content: "» ";
	font-style:italic;
}
footer, footer a {
	color: #d2d2bd;
	-webkit-transition: color .25s ease-in-out;
	   -moz-transition: color .25s ease-in-out;
	     -o-transition: color .25s ease-in-out;
	    -ms-transition: color .25s ease-in-out;
	        transition: color .25s ease-in-out;
}
footer a:hover{
	color: #9F9F7D;
}
#wheretofindme {
	width: 250px;
	float: left;
}
#mynameagain {
	float: left;
	font-family: "justus roman";
	text-transform: lowercase;
	width: 120px;
	font-size: 24px;
}
#mynameagain a {
	text-decoration:none;
	display: block;
}
#inspiration {
	float: left;
	width: 220px;
}
#inspiration span {
	text-transform:lowercase;
}

em.extra_emph {
    text-decoration:underline;
    font-style:normal;
    border:1px solid #999;
    padding:0 1px;
}

div.footnotes {
    font-size:90%;
    color: ;#808076
}
/* Buttons from: https://github.com/ubuwaits/css3-buttons/blob/gh-pages/css/buttons.css */
button {
  background: #eee;
  background: -moz-linear-gradient(top, #eee 0%, #ccc 100%);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eee), to(#ccc));
  border: 1px solid #ccc;
  border-bottom: 1px solid #bbb;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #333;
  font-size: 11px;
  font-weight: bold;
  line-height: 1.2;
  padding: 8px 0;
  text-align: center;
  text-shadow: 0 1px 0 #eee;
  width: 100px;
}

button:hover {
  background: #ddd;
  background: -moz-linear-gradient(top, #ddd 0%, #bbb 100%);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ddd), to(#bbb));
  border: 1px solid #bbb;
  border-bottom: 1px solid #999;
  cursor: pointer;
  text-shadow: 0 1px 0 #ddd;
}

button:active {
  border: 1px solid #aaa;
  border-bottom: 1px solid #888;
  -moz-box-shadow: inset 0 0 5px 2px #aaa, 0 1px 0 0 #eee;
  -webkit-box-shadow: inset 0 0 5px 2px #aaa, 0 1px 0 0 #eee;
  box-shadow: inset 0 0 5px 2px #aaa, 0 1px 0 0 #eee;
}