.highlight { background-color: #0D3B49; color: #FFC466; }
.highlight .ge { font-style: italic; }
.highlight .gs { font-weight: bold; }
.highlight .c { color: #FFD4D4; }
.highlight .cp { color: #FFD4D4; }
.highlight .c1 { color: #FFD4D4; }
.highlight .cs { color: #FFD4D4; }
.highlight .cm { color: #FFD4D4; }
.highlight .m { color: #DA8FFF; }
.highlight .mf { color: #DA8FFF; }
.highlight .mi { color: #DA8FFF; }
.highlight .mo { color: #DA8FFF; }
.highlight .se { color: #8F8FFF; }
.highlight .kc { color: #8F8FFF; }
.highlight .k { color: #DAFF8F; }
.highlight .kd { color: #DA8FFF; }
.highlight .kn { color: #8FFFDA; }
.highlight .kt { color: #DAFF8F; }
.highlight .s { color: #FF8F8F; }
.highlight .sb { color: #FF8F8F; }
.highlight .sc { color: #FF8F8F; }
.highlight .sd { color: #FF8F8F; }
.highlight .s2 { color: #FF8F8F; }
.highlight .sh { color: #FF8F8F; }
.highlight .si { color: #FF8F8F; }
.highlight .sx { color: #FF8F8F; }
.highlight .sr { color: #FF8F8F; }
.highlight .s1 { color: #FF8F8F; }
.highlight .ss { color: #FF8F8F; }
.highlight .na { color: #DAFF8F; }
.highlight .bp { color: #DAFF8F; }
.highlight .nc { color: #DAFF8F; }
.highlight .no { color: #8F8FFF; }
.highlight .nd { color: #DAFF8F; }
.highlight .ne { color: #DAFF8F; }
.highlight .nf { color: #8FFF8F; }
.highlight .nt { color: #FF8F8F; }
.highlight .nv { color: #DAFF8F; }
.highlight .ow { color: #8FFFDA; }
.highlight .o { color: #8FFFDA; }
.highlight .n { color: #FFC466; }
.highlight .nl { color: #FFC466; }
.highlight .nn { color: #FFC466; }
.highlight .nx { color: #FFC466; }
.highlight .bp { color: #DAFF8F; }
.highlight .p { color: #FFC466; }
