@import "base";

ul {
	padding:0;
	list-style:none;
}

h2 {
	margin:2em 0 .6em 0;
	a {
		text-decoration:none;
		&:visited {
			color:$link-color;
		}
	}
}

p {
	line-height:1.5;
	margin:0;
	font-style:italic;
}

ul li {
	margin:2em 0;
}

