<!doctype html>
<html lang="en-US">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>David Thomas Bernal—Tech Worker</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="/css/main.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fira+Mono:400,500">
		<script type="text/javascript">
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-22566740-1']);
			_gaq.push(['_trackPageview']);
			(function() {
				if(window.location.host.toLowerCase() != "davidthomasbernal.com")
					return;
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		</script>
	</head>
	<body class="layout-{{ page.layout|uri_escape }} page-{{ page.title|slugify|uri_escape }}">
		<header>
			<h1 class="mark">
				<a href="/">David Thomas Bernal</a>
			</h1>
		</header>

		{{ content }}

		<footer>
			© 2018 David Thomas Bernal, which is who I am. If you’d like to say something nice or helpful or perhaps
			ask a question, you can email me at david@davidthomasbernal.com. If you’d like to know what I’m thinking
			about, you can follow me on twitter @davidtbernal.
		</footer>
	</body>
</html>
