<!doctype html>
<html lang="en-US">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>
			{% if page.title != "index" %}
				{{page.title}}—David Thomas Bernal—Tech Worker
			{% else %}
				David Thomas Bernal—Tech Worker
			{% endif %}
		</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="/css/main.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fira+Mono:400,500|Open+Sans:400,400i,700,700i">
		<style>
			{{ page.styles }}
		</style>
		<script type="text/javascript">
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-22566740-1']);
			_gaq.push(['_trackPageview']);
			(function() {
				if(window.location.host.toLowerCase() != "davidthomasbernal.com")
					return;
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		</script>
		{% include favicons.html %}
	</head>
	<body class="layout-{{ page.layout|uri_escape }} page-{{ page.title|slugify|uri_escape }}">
		<header>
			<h1 class="mark">
				<a href="/">David Thomas Bernal</a>
			</h1>
		</header>

		{{ content }}

		<footer>
			<p>
				<strong>© 2018 David Thomas Bernal</strong>, which is who I am. If you’d like to say something nice or
				helpful or perhaps ask a question, you can email me at
				<a href="mailto:david@davidthomasbernal.com">david@davidthomasbernal.com</a>. If you’d like to know what
				I’m thinking about, you can follow me on twitter <a href="https://twitter.com/davidtbernal">@davidtbernal</a>.
			</p>
			<p>
				Oh, I'm also a pretty good photographer, you can check out my photoblog at
				<a href="https://isaidwow.info">isaidwow.info</a>. Or check me out on Instagram
				<a href="https://instagram.com/davidtbernal">@davidtbernal</a>.
			</p>
		</footer>
		<div class="footer">
			<p>
				Mostly I'm thinking about how we can build a better world, by the way. It's become really obvious that
				<strong>we are doing a very bad job</strong>. I say that like we didn't already know, but the truth is
				that we've known for a long time. The thing is that that eventually something comes along and forces you
				to stop pretending you don't know. I believe very strongly that we can do better, though.
			</p>
			<p>
				The rest of the time, I seem to be thinking about color profiles. Color representation seems super hard,
				which fascinates me. It seems so simple, right? 24 bytes! But it's not.
			</p>
			<p>
				Okay, I gotta get out of the way here now, because I need to include the SVG that has the icons in it. You
				won't actually see it down there, it just gets included here and referenced elsewhere. Hope I didn't get
				your hopes up.
			</p>
		</div>
		{% include icons.svg %}
	</body>
</html>
