<!doctype HTML>
<html>
	<head>
		<meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<title>{{ page.title }}—david thomas bernal—NYC based web developer</title>
		<link href='http://fonts.googleapis.com/css?family=Varela+Round|Merriweather' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="/styles/stylesheets/screen.css" />
		<link rel="stylesheet" href="/media/pygments/autumn.css" />
		<style>
			{{ page.styles }}
		</style>
		<script type="text/javascript">
     var _gaq = _gaq || [];
     _gaq.push(['_setAccount', 'UA-22566740-1']);
     _gaq.push(['_trackPageview']);

     (function() {
			if(window.location.host.toLowerCase() != "davidthomasbernal.com")
				return;

       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
     })();
   </script>
	</head>
	<body>
		<div id="container">
			<header class="inner">
				<hgroup>
					<div id="mark">
						<a href="/">
							dtb
						</a>
					</div>
				</hgroup>
			</header>
			<article class="inner">
				{{ content }}
			</article>
			<footer class="inner">
				<p>Drop me a line</p>
				<ul class="contact">
					<li><a href="mailto:david@davidthomasbernal.com">david@davidthomasbernal.com</a>
					<li><a href="http://twitter.com/notJim">@notJim</a></li>
					<li><a href="http://github.com/dtb">Github</a></li>
				</ul>
			</footer>
		</div>
	</body>
</html>
