<!doctype HTML>
<html>
	<head>
		<meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<title>{{ page.title }}--david thomas bernal--NYC based web developer</title>
		<link href='http://fonts.googleapis.com/css?family=Capriola' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="/assets/stylesheets/screen.css" />
		<link rel="stylesheet" href="/media/pygments/autumn.css" />
		<style>
			{{ page.styles }}
		</style>
	</head>
	<body>
		<div id="container">
			<header>
				<hgroup>
					<h1>
						<a href="/">
							dtb
						</a>
					</h1>
				</hgroup>
			</header>
			<article>
				{{ content }}
			</article>
			<footer>
				<p>This has been davidthomasbernal.com. I hope you've had a good time and learned a lot.</p>
				<strong>Please feel free to get in touch!</strong>
				<ul class="contact">
					<li><a href="mailto:david@davidthomasbernal.com">david@davidthomasbernal.com</a>
					<li><a href="http://twitter.com/notJim">@notJim</a></li>
					<li><a href="http://github.com/dtb<">Github</a></li>
				</ul>
			</footer>
		</div>
	</body>
</html>
