<!doctype HTML>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{{ page.title }}—david thomas bernal</title>
		<link rel="stylesheet" href="/media/style.css">
		<script type="text/javascript">

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-22566740-1']);
		  _gaq.push(['_trackPageview']);

		  (function() {
			if(window.location.host.toLowerCase() != "davidthomasbernal.com")
				return;
				
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();

		</script>
	</head>
	<body id="post">
		<div id="inner">
			<a href="/">« back to davidthomasbernal.com</a>
			<article>
				{{ content }}
			</article>
			
			<footer>
				<div id="mynameagain">
					<a href="/">David Thomas Bernal</a>
				</div>
				<div id="wheretofindme">
					<ul>
						<li><a href="mailto:david@davidthomasbernal.com">david@davidthomasbernal.com</a></li>
						<li><a href="https://twitter.com/notjim">https://twitter.com/notjim</a></li>
						<li><a href="https://github.com/dtb">https://github.com/dtb</a></li>
				</div>
				<div id="inspiration">
					<span>Inspiration and content cues from:</span>
					<ul>
						<li>
							the blog of <a href="http://tom.preston-werner.com/">Tom Preston-Werner</a>
						</li>
						<li>
							<a href="http://alanhogan.com/">Alan Hogan</a>
						</li>
					</ul>
				</div>
				<div style="clear:both"></div>
			</footer>
		</div>