/* line 3, ../sass/home.scss */
ul {
  padding: 0;
  list-style: none;
}

/* line 8, ../sass/home.scss */
h2 {
  font-size: 1em;
}
/* line 10, ../sass/home.scss */
h2 a {
  text-decoration: none;
}
/* line 12, ../sass/home.scss */
h2 a:visited {
  color: blue;
}
